#pengsu {
    animation: rotate_image 6s linear infinite; /* 회전 속도 */
    transform-origin: 50% 50%; /* 회전시키는 중심 */
    width: 100px; /* 크기조절 */
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}